}

.handle {
  position: relative;
  height: 145px;
  width: 75px;
  top: -35px;
  left: -65px;
  border-top-left-radius: 110px;
  border-bottom-left-radius: 120px;
  border-top-right-radius: 50% 20px;
  border-bottom-right-radius: 7% 10px;
  background: linear-gradient(245deg, #ddd 0, lightgrey .5%, white 100%);
  background-color: white;
}

.handle:after {
  content: "";
  position: absolute;
  height: 90px;
  width: 45px;
  top: 27px;
  left: 25px;
  border-top-left-radius: 255px 270px;
  border-bottom-left-radius: 305px 300px;
  border-top-right-radius: 45px 5px;
  border-bottom-right-radius: 45px 5px;
  background: purple;
  box-shadow: -5px 10px 20px #ccc;
}
